<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-2">
            <p><a class="btn btn-outline-success" href="/">
                <i class="bi bi-arrow-left-square-fill"></i> Back</a>
            </p>
        </div>
        <div class="col-6">
            <h2>Add a new To Review Item</h2>
            
            <form action="#" th:action="@{/toreview}" th:object="${toreviewItem}" method="POST">
                <div class="form-group">
                    <label for="pdfId">PDF ID</label>
                    <input class="form-control"
                           type="text"
                           th:field="*{pdfId}"
                           id="pdfId"
                           placeholder="PDF ID"
                    >
                    <span class="text-danger" th:if="${#fields.hasErrors('pdfId')}" th:errors="*{pdfId}"></span>
                </div>
                <div class="form-group">
                    <label for="title">Paper Title</label>
                    <input class="form-control"
                           type="text"
                           th:field="*{title}"
                           id="title"
                           placeholder="Paper Title"
                    >
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <input class="form-control"
                           type="text"
                           th:field="*{status}"
                           id="status"
                           placeholder="Status"
                    >
                </div>
                <div class="form-group">
                    <label for="revision">Revision Status</label>
                    <input class="form-control"
                           type="text"
                           th:field="*{revision}"
                           id="revision"
                           placeholder="Revision Status"
                    >
                </div>
                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input class="form-control"
                           type="date"
                           th:field="*{deadline}"
                           id="deadline"
                           placeholder="Deadline"
                    >
                </div>

                <button type="submit" class="btn btn-outline-success">
                    <i class="bi bi-plus-square-fill"></i> Add To Review
                </button>


            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>
