<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" rel="stylesheet" />
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }

        .container {
            margin-top: 20px;
        }

        h1 {
            margin-bottom: 20px;
        }

        table {
            margin-bottom: 20px;
        }

        th, td {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Notifications</h1>

    <table class="table table-bordered">
        <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>PDF ID</th>
            <th>Title</th>
            <th>Revision</th>
            <th>Deadline</th>
            <th>Submitted</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notification : ${notifications}">
            <td th:text="${notification.id}"></td>
            <td th:text="${notification.pdfId}"></td>
            <td th:text="${notification.title}"></td>
            <td th:text="${notification.revision}"></td>
            <td th:text="${notification.deadline}"></td>
            <td th:text="${notification.submitted}"></td>
            <td th:text="${notification.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
